<h3>
  MeetPeople
</h3>

<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
</nav>

<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About
  </a>
  |
	<a [routerLink]="['/github', 'angular']">
    Github Repos
  </a>
  |
	<a [routerLink]="['/user']">
    Contact Us
  </a>
</nav>
<main>
	<router-outlet></router-outlet>
</main>


<footer>
  © 2016
</footer>
