<h1>Edit Message!</h1>
<div>
  {{ msg }}
</div>
<div *ngIf="message">
  <div class="form-group">
    <label>Id</label>
    <input [(ngModel)]="message.id" class="form-control">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input [(ngModel)]="message.title" class="form-control">
  </div>
  <div class="form-group">
    <label>Message</label>
    <input [(ngModel)]="message.message" class="form-control">
  </div>
  <div class="form-group">
    <label>Place</label>
    <input [(ngModel)]="message.placeOfMessage" class="form-control">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input [(ngModel)]="message.dayOfMessage" class="form-control">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input [(ngModel)]="message.categoryId" class="form-control">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input [(ngModel)]="message.userId" class="form-control">
  </div>

  <div class="form-group">
    <button (click)="save()" class="btn btn-default">Save</button>
  </div>
</div>
